* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1C;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

#interface{
    width: 35rem;
    height: 35rem;
    background: #1f2937;
    padding: 7.35rem 3.25rem 0;
    box-shadow: 0 0 1px white;
}

h2{
    font-size: 40px;
    line-height: 40px;
}

h2 span{
    display: block;
    color: #E11D48;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: .5rem;
}

.buttons{
    margin-top: 3.2rem;
    margin-bottom: 2.2rem;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

button {
    color: white;
    background: #F43F5E;
    font-size: 16px;
    line-height: 24px;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#button-icon{
    display: inline-block;
    width: 0.9rem;
    height: 1rem;
    background: url('images/bolt.svg');
    background-size: cover;
    margin-right: 1rem;
}

.buttons-radio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    margin-left: 3rem;
}

/* #user-input{
    display: flex;
    justify-content: space-between;
} */

hr{
    border: 1px solid #2f3e53;
}

#password-display-section{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(2, fr);
    gap: 1.5rem;
}

.password-box{
    width: 13.5rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background: #273549;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-box:hover{
    cursor: pointer;
}

.has-dots{
    background-image: url('images/dots.svg');
    background-size: 1.25rem .3rem;
    background-repeat: no-repeat;
    background-position: center;
}

#first-password{
    grid-row: 1/2;
    grid-column: 1/2;
}

#second-password{
    grid-row: 1/2;
    grid-column: 2/3;

}#first-password{
    grid-row: 2/3;
    grid-column: 1/2;

}#first-password{
    grid-row: 2/3;
    grid-column: 2/3;
}

input{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 2px;
    color: #FB7185;
}